/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { }

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    background-color: white;
}

/* Set the fixed height of the footer here */
#push,
footer {
    height: 58px;
}

footer {
    background-color: rgb(255,149,0);
}

.footter-wrapper {
    background-color: white;
    border-top: solid 1px rgb(255,149,0);
}

.footer-dte-logo {
    float: left;
    width: 268px;
    height: 58px;
    background: url('../img/footer-dte-logo.png');
}

.footer-ba-logo {
    float: right;
    width: 202px;
    height: 58px;
    background: url('../img/footer-ba-logo.png');    
}

#logo-head {
    width: 480px;
    height: 28px;
    background: url('../img/logo_conectar-igualdad.png') no-repeat;
    text-decoration: none;
    float: right;
}

#cue-form {
    padding-top: 50px;
}

.link-files a {
    text-decoration: none;
}

.link-files a i {
    visibility: hidden;  
}

.link-files a:hover i {
    visibility: visible;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {
    footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}
